src/main/mule/errorhandling/error-handler.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:json-logger="http://www.mulesoft.org/schema/mule/json-logger" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/json-logger http://www.mulesoft.org/schema/mule/json-logger/current/mule-json-logger.xsd">
	<flow name="error-main-error-handler" doc:id="a0ca6c59-4d92-4796-ba81-04dc784a03b0" >
		<flow-ref doc:name="error-handler-before-error-type" doc:id="cae27a0f-29d4-4018-b923-71668cf3786f" name="error-handler-before-error-type"/>
		<flow-ref doc:name="error-handler-route" doc:id="0e19b292-a30b-49e1-ba11-83c52771fc8f" name="error-handler-route"/>
		<flow-ref doc:name="error-handler-after-error-type" doc:id="178c6a39-ddc6-4855-926b-34bd369b9963" name="error-handler-after-error-type"/>
		<error-handler >
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="cfbff77f-0560-4130-834c-c3b3e7f30f08" >
				<ee:transform doc:name="unexpected-error" doc:id="6d6cb85c-8ddd-4658-a748-3befe638c319" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
		status: "500",
		title:  "Unexpected error",
		correlationId: correlationId,
}]]></ee:set-payload>
						<ee:set-attributes ><![CDATA[%dw 2.0
output application/json
---
{
	statusCode: 500
}]]></ee:set-attributes>
					
</ee:message>
				</ee:transform>
			</on-error-continue>
		</error-handler>
	
</flow>
	
	<sub-flow name="error-handler-before-error-type" doc:id="8a4e1196-719f-48db-a1d8-517789491b98" >
		<json-logger:logger doc:name="Logger" doc:id="2ce35615-e6cb-41b1-80ff-ea3f9ae659ca" config-ref="JSON_Logger_Config" message="In error-handler-before-errorTypeFlow" tracePoint="EXCEPTION">
		</json-logger:logger>
		<ee:transform doc:name="set-generic-variables" doc:id="8dea4dcd-2361-424a-b269-a8863c2e4535">
			<ee:message>
			</ee:message>
			<ee:variables>
				<ee:set-variable variableName="errorNamespace"><![CDATA[%dw 2.0
output application/java
---
error.errorType.namespace]]></ee:set-variable>
				<ee:set-variable variableName="errorIdentifier" ><![CDATA[%dw 2.0
output application/java
---
error.errorType.identifier]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
	
</sub-flow>
	<sub-flow name="error-handler-after-error-type" doc:id="3db3f5bc-0522-41d6-a0ec-4c5c3d010922" >
		<json-logger:logger doc:name="debug-logger" doc:id="947fe6b8-9db8-4a9d-8ac6-d3a25f4ef8d2" config-ref="JSON_Logger_Config" message="In error-handler-after-errorTypeFlow" tracePoint="EXCEPTION" priority="DEBUG" category="support"/>
		<choice doc:name="propagate-error?" doc:id="b6615285-9a23-40ca-abad-dcad9e6e9a11" >
			<when expression="#[error.errorMessage.payload.status != null]">
				<ee:transform doc:name="set-httpStatus-and-payload" doc:id="962f4279-0932-4a82-aaa6-2751c5128d06" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
error.errorMessage.payload]]></ee:set-payload>
						<ee:set-attributes ><![CDATA[%dw 2.0
output application/json
---
{
	statusCode: error.errorMessage.payload.status
}]]></ee:set-attributes>

					</ee:message>
					<ee:variables >
					</ee:variables>
				</ee:transform>
			
</when>
			<otherwise >
				<ee:transform doc:name="set-httpStatus-and-error-message" doc:id="bc746dae-1936-45f0-b171-b3c8535e20dd">
			<ee:message>
						<ee:set-attributes ><![CDATA[%dw 2.0
output application/java
---
{
	statusCode: payload.httpStatus
}]]></ee:set-attributes>

			</ee:message>
			<ee:variables>
				<ee:set-variable variableName="errorMessage"><![CDATA[%dw 2.0
output application/java
---
payload.errorMessage]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
				<flow-ref doc:name="error-handler-override-error" doc:id="18a1bcbc-da59-4dea-a582-1c2fe0430cd4" name="error-handler-override-error" />
			
</otherwise>
		</choice>
	
</sub-flow>
	<sub-flow name="error-handler-override-error" doc:id="6880c2cc-d64c-44dd-9b61-45376f35472a" >
		<json-logger:logger doc:name="debug-logger" doc:id="3c94b169-997e-4e72-b338-bc55e54839ae" config-ref="JSON_Logger_Config" message="In error-handler-extension-errorFlow" tracePoint="EXCEPTION" priority="DEBUG" category="support"/>
		<choice doc:name="override-standard-final-error-response?" doc:id="12a39220-4673-4759-b89b-8eada35c244b" >
			<when expression="#[Mule::p('errors.override.response') == 'true']">
				<ee:transform doc:name="override-standard-final-error-response" doc:id="18ee3f02-02f8-49d0-8e6b-0b1841587999" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
---
{
	wincantonStandardWMSIntegrationServicesResponse: {
		(responseMessage: vars.errorMessage) if !isEmpty(vars.errorMessage),
		correlationId: correlationId
	}
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<json-logger:logger doc:name="Logger" doc:id="f9102f8c-79c0-466b-846e-ccec230f12c5" config-ref="JSON_Logger_Config" message="Overriden error response"/>
			</when>			
			<otherwise>
				<ee:transform doc:name="standard-final-error-response" doc:id="9bd649f8-c1d3-45b5-b448-da3ec39e6af3">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	status: attributes.statusCode,
	title: vars.errorMessage default "System error",
	detail: error.detailedDescription,
	description: error.description,
	errorType: error.errorType.identifier,
	correlationId: correlationId
}

 ]]></ee:set-payload>
			</ee:message>
		</ee:transform>
				<json-logger:logger doc:name="Logger" doc:id="12f0d51e-afaa-4328-aa83-aad5ba04cfd6" config-ref="JSON_Logger_Config" message="Default error log" tracePoint="EXCEPTION">
		</json-logger:logger>
			
</otherwise>
		</choice>
		<ee:transform doc:name="final-response" doc:id="575531a6-bf7e-4457-a78f-bef1d761af72" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</sub-flow>
</mule>
